<p>Here are your visitor details-<br/>
    Name of visitor: <b><%=entryDoc.visitor_name%></b><br/>
    Phone: <b><%=entryDoc.visitor_phone%></b><br/>
    Email: <b><%=entryDoc.visitor_email%></b><br/>
    Check In Time: <b><%=entryDoc.check_in_time%></b><br/>
</p>